<!DOCTYPE html>
<html lang="zh-CN">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}

    <meta charset="UTF-8">

<title>KaguraMea Live Record | 神楽めあ 直播录像</title>
<meta name="keywords" content="神楽めあ, KaguraMea, 录播, 直播录像, liverecord">
<meta property="og:title" content="神楽めあ 直播录像" />
<meta property="og:locale" content="zh_CN" />
<meta name="description" content="神楽めあ 直播录像 录播发布站" />
<meta property="og:description" content="神楽めあ 直播录像 录播发布站" />
<link rel="canonical" href="https://kaguramea.live/" />
<meta property="og:url" content="https://kaguramea.live/" />
<meta property="og:site_name" content="KaguraMea Live Record" />
<script type="application/ld+json">
{"@type":"WebSite","url":"https://kaguramea.live/","name":"KaguraMea Live Record","description":"神楽めあ 直播录像","headline":"神楽めあ 直播录像","@context":"http://schema.org"}</script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<link rel="shortcut icon" type="image/png" href="/favicon.png" >
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">神楽めあ 直播录像</h1>
      <h2 class="project-tagline">KaguraMea Live Record</h2>
      {% if site.show_downloads %}
        <a href="https://www.youtube.com/channel/UCWCc8tO-uUl_7SJXIKJACMw/live" class="btn" target="_blank">YouTube</a>
        <a href="https://twitter.com/KaguraMea_VoV" class="btn" target="_blank">Twitter</a>
        <a href="https://space.bilibili.com/349991143/" class="btn" target="_blank">bilibili</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/kaguramea-record/kaguramea-record.github.io">KaguraMea Live Record</a> 由 <a href="https://blog.kafuziroh.cc/">雨空CA☢Kafuziroh</a> 维护</span>
        <span class="site-footer-credits">此页面由 <a href="https://pages.github.com">GitHub Pages</a> 生成</span>
      </footer>
    </main>
  </body>
</html>
